{
  "presets": [
    "react-app"
  ],
  "plugins": [
    "@babel/plugin-proposal-optional-chaining",
    [
      "lodash",
      {
        "id": [
          "lodash"
        ]
      }
    ],
    [
      "module-resolver",
      {
        "root": [
          "./src"
        ]
      }
    ]
  ]
}
